html {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  justify-content: center;
  color: rgba(0, 0, 0, 0.816);
  overflow-x: hidden;
}
.app-header {
  min-height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
body {
  font-size: 1.1rem;
}
h1 {
  font-size: 2rem;
  margin: 1rem;
  padding: 0;
  color: #3f4047;
}
h2 {
  color: rgb(14, 14, 236) !important;
  font-size: 1.4rem;
  font-weight: 700;
  margin-block: 1.3rem;
  padding: 0;
  color: #3f4047;
}
h3 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-block-start: 0;
  margin-block-end: 0;
}

table {
  border-collapse: collapse;
  width: 99%;
  justify-content: center;
  margin-top: 2rem;
}
thead {
  background-color: #b6c8ebc8;
  color: #535353;
  font-weight: bold;
}
th {
  text-align: left;
  padding: 8px;
  padding-left: 10px;
  max-width: 3rem !important;
  width: 3rem !important;
  overflow: hidden; /* Empêche le texte de se casser sur plusieurs lignes*/
  text-overflow: ellipsis; /* Ajoute des points de suspension (...) si le texte est trop long */
}
td {
  padding: 12px;
  text-align: left;
  white-space: nowrap; /* Empêche le texte de se casser sur plusieurs lignes */
  overflow: hidden; /* Cache les textes qui dépassent */
  text-overflow: ellipsis; /* Affiche "..." si le texte est trop long */
}

td.name {
  max-width: 10rem !important;
  text-align: left;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr:hover {
  background-color: rgba(202, 209, 223, 0.375);
  font-weight: 600;
  cursor: pointer;
}
td.year {
  width: 2rem !important;
  max-width: 2rem !important;
  text-align: left;
}
td.publisher {
  max-width: 4rem !important;
  text-align: left;
  overflow: hidden; /* Empêche le texte de se casser sur plusieurs lignes*/
  text-overflow: ellipsis; /* Ajoute des points de suspension (...) si le texte est trop long */
}
td.genre {
  max-width: 4rem !important;
  text-align: left;
}
button {
  background-color: #5c5c628b;
  color: #ffffff;
  border: solid 1px #5b5656;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 2px #413838;
  display: inline-block;
  font-size: 1.1rem;
  margin: 7px 5px;
  cursor: pointer;
  border-radius: 5px;
  margin-block: 1rem;
}

button:hover {
  background-color: #9bbcffdc;
  color: rgb(0, 8, 255);
  text-shadow: 0px 0px 1px #68c0ff;
}

.button-active {
  background-color: #9bbcffdc;
  color: rgb(0, 8, 255);
  text-shadow: 0px 0px 1px #68c0ff;
}

button:active {
  background-color: #9bbcffdc;
  color: rgb(0, 8, 255);
  text-shadow: 0px 0px 1px #68c0ff;
  transform: translateY(2px);
}
.button-newGame {
  background-color: #e9e5e5dc;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 1px #68c0ff;
  border: none;
  position: relative;
}
.button-newGame:hover::after {
  content: "Ajouter un nouveau jeu";
  position: absolute;
  top: 10%;
  left: 130%;
  background-color: rgb(244, 244, 244);
  color: rgba(0, 0, 0, 0.719);
  padding: 6px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.game-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.game-details h3 {
  margin-inline-end: 2rem;
}

.game-sales {
  display: flex;
  width: 60vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.game-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: #e8e8e8;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin: 10px 0 5px;
  font-size: 14px;
  color: #333;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
}

.button-newGame {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #14b911;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-newGame:hover {
  background-color: #11960a;
  color: #fff;
}

.button-delete {
  position: relative;
  margin-inline: 0;
  padding: 6px 8px;
  font-size: 16px;
  color: #fff;
  background-color: #ff0000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-delete:hover {
  background-color: #c70707;
  color: #fff;
}
.button-delete:hover::after {
  content: "Supprimer le jeu";
  z-index: 999;
  position: absolute;
  top: 10%;
  left: 130%;
  background-color: rgb(244, 244, 244);
  color: rgba(0, 0, 0, 0.719);
  padding: 6px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.button-update {
  margin-inline: 0;
  position: relative;
  padding: 6px 8px;
  font-size: 16px;
  color: #fff;
  background-color: #e8aa00ce;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-update:hover {
  background-color: #c98807;
  color: #fff;
}
.button-update:hover::after {
  content: "Modifier les données";
  z-index: 999;
  position: absolute;
  top: 10%;
  left: 130%;
  background-color: rgb(244, 244, 244);
  color: rgba(0, 0, 0, 0.719);
  padding: 6px;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 13px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button-submitGame {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #0a27ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-submitGame:hover {
  background-color: #ffffff;
  color: #0044ff;
  border: 1px solid #0044ff;
}

/* Masquer les flèches dans les champs de type number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Masque les flèches dans Chrome, Safari et Opera */
  margin: 0; /* Réduit les marges si nécessaire */
}

input[type="number"] {
  -moz-appearance: textfield; /* Masque les flèches dans Firefox */
}

.message {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  margin-inline-end: 20px;
  margin-block-end: 20px;
  padding: 10px 20px;
  background-color: #6ef858a8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: #079c18;
}
.delete-message {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  margin-inline-end: 20px;
  margin-block-end: 20px;
  padding: 10px 20px;
  background-color: #ff9191a8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: #b10606;
}
.update-message {
  position: fixed;
  bottom: 0;
  right: 0;
  border-radius: 2px;
  margin-inline-end: 20px;
  margin-block-end: 20px;
  padding: 10px 20px;
  background-color: #6ef858a8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  color: #079c18;
}
